<div class="container">
    
    <div class="row">
        <!-- Uneaten Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span> {{this.id}} - {{this.burger_name}} </span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>